header {
    background-color: var(--myGreen);
    padding: 2px;
    color: white;
    text-align: center;
    top: 0%;
 
 
}
 nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    justify-content: center;
 }
 
 nav a {
    color: white;
    text-decoration: solid;
    padding: 1em;
    font-size: 1EM;
    transition: 0.2s;
    
 }
 
 nav a:hover {
    color: var(--myPurple);
    text-decoration: solid;
    size-adjust: 110%; 
    opacity: 1;
    font-size: 1.2EM;
}