:root {
    --myGreen: rgb(72, 87, 2);
    --softGrey: rgb(244, 255, 248);
}

body {
    margin: 0px;
    background-color: var(--softGrey);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 12000px;
    margin-left: 16px;
    margin-right: 16px;
    min-height: 83vh;
}

header {
    background-color: var(--myGreen);
    padding: 2px;
    color: white;
    text-align: center;
    top: 0%;


}

nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: solid;
    padding: 1em;
    font-size: 1EM;
    transition: 0.2s;

}

nav a:hover {
    color: var(--myPurple);
    text-decoration: solid;
    opacity: 1;
    font-size: 1.2EM;
}


.container h1 {
    text-align: left;
}

.container {
    text-align: left;
}

.container p {
    margin-left: 16px;
}

text {
    font-family: "roboto", 'Times New Roman', 'Times New Roman', Times, serif, cursive;
    font-style: normal;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--myGreen);
    color: white;
    text-align: center;
}